.container.text-center
  .full.col-sm-12
    / content
    .row
      / main col left
      .col-md-12.col-sm-10
        #welcome.page-header
          %h1
            = content_for?(:h1) ? yield(:h1) : "Search #{@total}illion products from #{@count} different sites at once."
            %br
            %small
              = content_for?(:h3) ? yield(:h3) : "Price and social comparison done in realtime and at massive scale..."
        .row
          - @available.each do |name, count|
            .col-md-4{align: 'center'}
              = image_tag "#{name}.png"
              %p= count
        .row
          .col-md-4{align: 'center'}
            %strong Indexing
            %p #{@indexing}
          .col-md-4{align: 'center'}
            %strong Processing
            %p #{@processing}
          .col-md-4{align: 'center'}
            %strong Pending
            %p #{@pending}
        = render 'layouts/responsive_text_ad'
