

= render 'layouts/search'

#welcome.page-header
  %h1
    = content_for?(:h1) ? yield(:h1) : Rails.configuration.config[:site][:slogan]
    %small
      = content_for?(:h3) ? yield(:h3) : Rails.configuration.config[:site][:description]

.row
  - @available.each do |name, count|
    .col-md-1{align: 'center'}
      = image_tag "#{name}.png", :class => 'logo'
      #{count} Prices
  .col-md-1{align: 'center'}
    %strong Processing
    %p #{@processing} Prices
