#main-content
  / Page Main Content Start
  .main-content
    / Blocks with the goods Start
    .box-1675
      .container-fluid
        .row
          .col-sidebar
            = render 'trends/trending'
          / main col left
          .col-content
            .title
              %h1
                = content_for?(:h1) ? yield(:h1) : "Search #{@total}illion products from #{@count} different sites at once."
                %br
                %small
                  = content_for?(:h3) ? yield(:h3) : "Price and social comparison done in realtime and at massive scale..."
            .display-unit
              #unit-three.block-products.unit-three.active
                - unless @indexing == '0'
                  .col-md-2.col-sm-2{align: 'center'}
                    %strong Indexing
                    %p #{@indexing}
                - unless @processing == '0'
                  .col-md-2.col-sm-2{align: 'center'}
                    %strong Processing
                    %p #{@processing}
                - unless @pending == '0'
                  .col-md-2.col-sm-2{align: 'center'}
                    %strong Pending
                    %p #{@pending}
                - @available.each do |name, count|
                  .col-md-2.col-sm-2{align: 'center'}
                    = image_tag "stores/#{name}.png"
                    %p= count
            %br
            = render 'layouts/search_ads'
