#welcome.page-header
  %h1
    = content_for?(:h1) ? yield(:h1) : Rails.configuration.config[:site][:slogan]
    %small
      = content_for?(:h3) ? yield(:h3) : Rails.configuration.config[:site][:description]

= render 'layouts/search'

/ %h3{:align => "right"} Top 5 Most Followed
.row
  .col-sm-6.col-md-2
    %h3{:align => "right"} Searchable
    %ul.list-group
    - @available.each do |name, count|
      %li.list-group-item
        %span.badge= name.to_s.split('-').first.capitalize
        = count
    %li.list-group-item
      %span.badge Processing
      = @processing
    %li.list-group-item
      %span.badge Pending
      = @pending
