.container.text-center
  .full.col-sm-12
    .row
      / main col left
      .col-md-2.col-sm-3.text-center
        = render 'layouts/responsive_text_ad'
        = render 'layouts/responsive_ad'
        = render 'layouts/responsive_text_ad'
        = render 'layouts/responsive_ad'
      .col-md-10.col-sm-9
        - unless browser.bot?
          .panel
            .fb-like{"data-share" => "true", "data-show-faces" => "true", "data-width" => "450", align: 'right' }
        - @results.each_with_index do |result, index|
          - if index % 4 == 0
            .row
          = render 'search/vertical_result', result: result
        = render 'layouts/pagination', pagination: @pagination
    = render 'layouts/responsive_text_ad'
