.container
  .row
    = render 'layouts/search'
    - @results.each do |result|
      .well
        .row
          .col-xs-6.col-sm-3.col-md-3.col-lg-2
            - if result[:image]
              .thumbnail
                %a{:href => "#{result[:url]}", :target => '_blank'}
                  %img.img-responsive{:alt => '#', :src => "#{result[:image]}"}
          .col-xs-6.col-sm-9.col-md-9.col-lg-7
            %a{:href => "#{result[:url]}", :target => '_blank'}
              %h3= result[:name]
            %p= result[:description]
            %button.btn.btn-danger Buy Now
            %button.btn.btn-primary Follow
            %button.btn.btn-large History
          .col-xs-6.col-sm-9.col-md-9.col-lg-3
            %ul.list-group
              %li.list-group-item
                %span.badge= result[:date]
                Last Updated
              %li.list-group-item
                %span.badge= result[:id]
                = result[:container]
              - if result[:price]
                %li.list-group-item
                  %span.badge Sale Price
                  %strong= result[:price]
              - if result[:original_price]
                %li.list-group-item
                  %span.badge Original Price
                  %strong= result[:original_price]
