.container.text-center
  .full.col-sm-12
    / content
    = render 'layouts/search'
    .row
      / main col left
      .col-md-3.col-sm-4.text-center
        = render 'layouts/responsive_text_ad'
        = render 'layouts/responsive_text_ad'
      .col-md-9.col-sm-8
        - unless browser.bot?
          .panel
            .fb-like{"data-share" => "true", "data-show-faces" => "true", "data-width" => "450", align: 'right' }
        - @results.each_with_index do |result, index|
          - if index % 3 == 0
            .row
              = render 'layouts/responsive_text_ad'
          = render 'search/vertical_result', result: result
        = render 'layouts/pagination', pagination: @pagination
    = render 'layouts/responsive_text_ad'
    %br
    = render 'layouts/search'
