#main-content
  / Page Main Content Start
  .main-content
    / Blocks with the goods Start
    .box-1675
      .container-fluid
        .row
          = render 'layouts/responsive_ad'
          %br
          .col-sidebar
            .block-sidebar.hidden-768
              .title-sidebar
                Sponsors
              .content-sidebar
                = render 'layouts/responsive_text_ad'
            .block-bunners.hidden-768
              = render 'layouts/responsive_text_ad'
          .col-content
            .title
              %h1
                Trending
                = @query.gsub('_', ' ').capitalize
                for
                = params[:container].presence || 'All Sites'
            .display-unit
              #unit-four.block-products.unit-four.active
                - @results.each_with_index do |result, index|
                  %form.wrap-products-masonry.js-change-img.js-wrap-products.products-style-line{:action => "/"}
                    .left
                      %a.box-img-products{:href => "/#{result[:container]}/#{result[:id]}"}
                        - if result[:image].presence
                          %img{:style => "height: 100%;", :alt => "#{result[:name]}", :src => result[:image]}/
                        - else
                          = image_tag "thumbnail.jpg", :style => "height: 100%;", :alt => result[:name]
                    .center
                      %a.title-product{:href => "/#{result[:container]}/#{result[:id]}", :title => result[:name]}
                        = result[:name].presence
                        %p= image_tag "#{result[:container]}.png"
                      .box-price-prod
                        %span.price-sale.hidden-1700
                      .wrap-info-prod
                        %span.mark-info-prod
                          %a{:href => "/#{result[:container]}/#{result[:id]}"}
                            = result[:availability].presence || 'Available'
                      .wrap
                        .box-preview-img.hidden-md
                    .right
                      %span.price-now
                        - if result[:price][:price].presence
                          $#{result[:price][:price]}
                        - elsif result[:price][:original_price].presence
                          $#{result[:price][:original_price]}
                      %span.price-sale.visible-1700
                      %a.btn-add-cart.button-middle.waves-effect.waves-circle.waves-float{:href => "/#{result[:container]}/#{result[:id]}"} Buy Now
            .box-pagination
              -if @pagination[:prev_page]
                %a.item-pagination{:href => @pagination[:prev_page]} &larr; Previous
              -else
                %a.item-pagination{:href => '#'} &larr; Previous
              %span.dot-pagination ...
              -if @pagination[:next_page]
                %a.item-pagination{:href => @pagination[:next_page]} Next &rarr;
                %span.dot-pagination ...
                %a.item-pagination{:href => @pagination[:total_pages]} Last &rarr;
              -else
                %a.item-pagination{:href => '#'} Next &rarr;
                %span.dot-pagination ...
                %a.item-pagination{:href => '#'} Last &rarr;
