#main-content
  / Page Main Content Start
  = render 'visitors/banners_small'
  .main-content
    / Blocks with the goods Start
    .box-1675
      .container-fluid
        .row
          %br
          .col-sidebar
            = render 'trends/trending'
            .block-sidebar
              = render 'layouts/responsive_text_ad'
            .block-sidebar
              = render 'layouts/responsive_ad'
            .block-sidebar.hidden-768
              = render 'layouts/responsive_text_ad'
            .block-sidebar.hidden-768
              = render 'layouts/responsive_ad'
            .block-sidebar.hidden-768
              = render 'layouts/responsive_text_ad'
            .block-sidebar.hidden-768
              = render 'layouts/responsive_ad'
          .col-content
            .title
              %h1
                Trending Top
                = params[:type].gsub('_', ' ').capitalize
                on
                = (params[:container].split('-').try(:first).try(:capitalize) rescue nil) || 'All Sites'
            .display-unit
              #unit-four.block-products.unit-four.active
                - @results.each_with_index do |result, index|
                  %form.wrap-products-masonry.js-change-img.js-wrap-products.products-style-line
                    .left.hidden-768
                      %a.box-img-products{:href => "/#{result[:container]}/#{result[:id]}"}
                        - if result[:image].presence
                          %img{:style => "height: 100%;", :alt => "#{result[:name]}", :src => result[:image]}/
                        - else
                          = image_tag "thumbnail.jpg", :style => "height: 100%;", :alt => result[:name]
                    .center
                      %a.title-product{:href => "/#{result[:container]}/#{result[:id]}", :title => result[:name]}
                        = result[:name].truncate(50)
                        %p= image_tag "stores/#{result[:container]}.png"
                      .wrap-info-prod.hidden-768
                        - if result[:history].presence && (params[:type].include?('price') || params[:type].include?('history'))
                          = bar_chart result[:history].select {|k,v| k != :total_shares }, download: "Pricenometry_#{result[:name].gsub(' ','_')}_Social_Bar_Chart"
                        - elsif params[:type] != 'date' && result[:social].presence
                          = pie_chart result[:social].select {|k,v| k != :total_shares }, download: "Pricenometry_#{result[:name].gsub(' ','_')}_Social_Pie_Chart"
                      .wrap
                        .box-preview-img.hidden-md
                    .right
                      .box-price-prod
                        %span.price-now
                          - if result[:price][:price].presence
                            = number_to_currency(result[:price][:price])
                          - elsif result[:price][:original_price].presence
                            = number_to_currency(result[:price][:original_price])
                        %a.add-cart-product.add-cart-mob.button-small.waves-effect.waves-circle.waves-float{:href => "/#{result[:container]}/#{result[:id]}"}
                          Pricenometry Analysis
                        %br
                        %span.mark-info-prod
                          %a{:href => "/#{result[:container]}/#{result[:id]}"}
                            = result[:availability].presence || 'Available'
                        - if result[:container] == 'amazon-offers'
                          = render 'search/amazon_button', result: result
                        - elsif result[:container] == 'walmart-offers'
                          = render 'search/walmart_button', result: result
                        - elsif result[:container] == 'target-offers'
                          %a.add-cart-product.add-cart-mob.button-small.waves-effect.waves-circle.waves-float{href: "/#{result[:container]}/#{result[:id]}"}
                            \#BoycottTarget
                        - else
                          %a.add-cart-product.add-cart-mob.button-small.waves-effect.waves-circle.waves-float{:href => result[:url], target: '_blank'}
                            = icon('shopping-cart')
                            = "Buy at #{result[:container].split('-').first.capitalize}"
            .box-pagination
              -if @pagination[:prev_page]
                %a.item-pagination{:href => @pagination[:prev_page]} &larr; Previous
              -else
                %a.item-pagination{:href => '#'} &larr; Previous
              %span.dot-pagination ...
              -if @pagination[:next_page]
                %a.item-pagination{:href => @pagination[:next_page]} Next &rarr;
                %span.dot-pagination ...
                %a.item-pagination{:href => @pagination[:total_pages]} Last &rarr;
              -else
                %a.item-pagination{:href => '#'} Next &rarr;
                %span.dot-pagination ...
                %a.item-pagination{:href => '#'} Last &rarr;
