.panel.panel-default
  .panel-heading
    %h4
      = icon('tag')
      Details
  .panel-body
    - if user_signed_in?
      - if current_user.admin?
        %ul.list-group
          - @result.each do |key, value|
            %li.list-group-item
              %span.badge= key.upcase
              = value
          - if @history.presence
            - @history.each do |key, value|
              %li.list-group-item
                %strong
                  = key.upcase.to_s + ' HISTORY'
                %ul.list-group
                  - value.each do |k,v|
                    %li.list-group-item
                      %span.badge= k.upcase
                      = v
    %ul.list-group
      - @result.each do |key, value|
        - if @canonical_details.include?(key)
          %li.list-group-item
            %span.badge= key.upcase
            = value
    .clearfix
      - if @result[:description]
        - @result[:description].split('. ').shuffle.each do |sentence|
          %p{align: 'left'}
            #{sentence}.
      %p.text-center
        - if @result[:container] == 'amazon-offers'
          = render 'search/amazon_button', result: @result
          %br
        - elsif @result[:container] == 'walmart-offers'
          = render 'search/walmart_button', result: @result
        - elsif @result[:container] == 'target-offers'
          %a.btn.btn-primary{href: "/#{@result[:container]}/#{@result[:id]}"}
            = icon('shopping-cart')
            \#BoycottTarget
            %br
        - else
          %a.btn.btn-lg.btn-primary{:href => @result[:url], target: '_blank'}
            = icon('shopping-cart')
            = "Buy at #{@result[:container].split('-').first.capitalize}"
    - unless browser.bot?
      = linkedin_button
