- if @history && @history[:price].presence
  .panel.panel-default
    .panel-heading
      %h4
        = icon('line-chart')
        Pricing History
    .panel-body
      = line_chart @history[:price], min: @min_price, max: @max_price
      %p.text-center
        - if @result[:container] == 'amazon-offers'
          = render 'search/amazon_button', result: @result
          %br
        - elsif @result[:container] == 'walmart-offers'
          = render 'search/walmart_button', result: @result
        - elsif @result[:container] == 'target-offers'
          %a.btn.btn-primary{href: "/#{@result[:container]}/#{@result[:id]}"}
            = icon('shopping-cart')
            \#BoycottTarget
            %br
        - else
          %a.btn.btn-lg.btn-primary{:href => @result[:url], target: '_blank'}
            = icon('shopping-cart')
            = "Buy at #{@result[:container].split('-').first.capitalize}"
      - unless browser.bot?
        = linkedin_button
