- if @result[:social].presence
  .panel.panel-default
    .panel-heading
      %h4
        = icon('pie-chart')
        Social Popularity
    .panel-body
      = pie_chart @result[:social].select {|k,v| k != :total_shares }
      = bar_chart @result[:social].select {|k,v| k != :total_shares }
      - if @social_charts.presence
        = line_chart @social_charts
      %p.text-center
        - if @result[:container] == 'amazon-offers'
          = render 'search/amazon_button', result: @result
          %br
        - elsif @result[:container] == 'walmart-offers'
          = render 'search/walmart_button', result: @result
        - elsif @result[:container] == 'target-offers'
          %a.btn.btn-primary{href: "/#{@result[:container]}/#{@result[:id]}"}
            = icon('shopping-cart')
            \#BoycottTarget
            %br
        - else
          %a.btn.btn-lg.btn-primary{:href => @result[:url], target: '_blank'}
            = icon('shopping-cart')
            = "Buy at #{@result[:container].split('-').first.capitalize}"
      - unless browser.bot?
        = linkedin_button
      .fb-comments{"data-href" => "#{@result[:url]}", "data-numposts" => "5", "order_by" => "reverse_time"}
