.container
  .padding
  .full.col-sm-12
    / content
    .row
      / main col left
      .col-sm-4
        .panel.panel-default
          - if @result[:image]
            %img.img-responsive-record{:alt => "", :src => @result[:image]}
          - else
            = image_tag "thumbnail.jpg", :class => 'img-responsive'
          .caption
            %a{:href => @result[:url], target: '_blank', style: 'color:#ac4142;'}
              %strong
                #{@result[:name].truncate(75)}
              = image_tag "#{@result[:container]}.png", :class => 'logo'
            - if @result[:price][:price] && @result[:price][:original_price]
              %h3
                %strike
                  $#{@result[:price][:original_price]}
              %h1
                %strong
                  $#{@result[:price][:price]}
            - elsif @result[:price][:price]
              %h1
                %strong
                  $#{@result[:price][:price]}
            - elsif @result[:price][:original_price]
              %h1
                %strong
                  $#{@result[:price][:original_price]}
            %p
              - if @result[:container] == 'amazon-offers'
                = render 'search/amazon_button', result: @result
                %br
              - else
                %a.btn.btn-primary{:href => @result[:url], target: '_blank'} Buy Now
              - if user_signed_in?
                %a.btn.btn-danger{:href => "/users/sign_up"} Follow
              - else
                %a.btn.btn-danger{:href => "#"} Follow
        .well
          %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
          / Pricenometry Page Responsive
          %ins.adsbygoogle{"data-ad-client" => "ca-pub-4228490019228264", "data-ad-format" => "auto", "data-ad-slot" => "4134546982", :style => "display:block"}
          :javascript
            (adsbygoogle = window.adsbygoogle || []).push({});
        .panel.panel-default
          .panel-heading
            %a.pull-right{:href => "#"} View all
            %h4 Bootstrap Examples
          .panel-body
            .list-group
              %a.list-group-item{:href => "http://bootply.com/tagged/modal"} Modal / Dialog
              %a.list-group-item{:href => "http://bootply.com/tagged/datetime"} Datetime Examples
              %a.list-group-item{:href => "http://bootply.com/tagged/datatable"} Data Grids
        .well
          %form.form-horizontal{:role => "form"}
            %h4 What's New
            .form-group{:style => "padding:14px;"}
              %textarea.form-control{:placeholder => "Update your status"}
            %button.btn.btn-primary.pull-right{:type => "button"} Post
            %ul.list-inline
              %li
                %a{:href => ""}
                  %i.glyphicon.glyphicon-upload
              %li
                %a{:href => ""}
                  %i.glyphicon.glyphicon-camera
              %li
                %a{:href => ""}
                  %i.glyphicon.glyphicon-map-marker
        .panel.panel-default
          .panel-heading
            %a.pull-right{:href => "#"} View all
            %h4 More Templates
          .panel-body
            %img.img-circle.pull-right{:src => "//placehold.it/150x150"}
              %a{:href => "#"} Free @Bootply
              .clearfix
              There a load of new free Bootstrap 3 ready templates at Bootply. All of these templates are free and don't require extensive customization to the Bootstrap baseline.
              %hr
                %ul.list-unstyled
                  %li
                    %a{:href => "http://www.bootply.com/templates"} Dashboard
                  %li
                    %a{:href => "http://www.bootply.com/templates"} Darkside
                  %li
                    %a{:href => "http://www.bootply.com/templates"} Greenfield
        .panel.panel-default
          .panel-heading
            %h4 What Is Bootstrap?
          .panel-body
            Bootstrap is front end frameworkto build custom web applications that are fast, responsive &amp; intuitive. It consist of CSS and HTML for typography, forms, buttons, tables, grids, and navigation along with custom-built jQuery plug-ins and support for responsive layouts. With dozens of reusable components for navigation, pagination, labels, alerts etc..
      / main col right
      .col-sm-8
        = render 'layouts/search'
        .well
          %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
          / Pricenometry Page Responsive
          %ins.adsbygoogle{"data-ad-client" => "ca-pub-4228490019228264", "data-ad-format" => "auto", "data-ad-slot" => "4134546982", :style => "display:block"}
          :javascript
            (adsbygoogle = window.adsbygoogle || []).push({});
        .panel.panel-default
          .panel-heading
            %a.pull-right{:href => "#"} View all
            %h4 Bootply Editor &amp; Code Library
          .panel-body
            %p
              %img.img-circle.pull-right{:src => "//placehold.it/150x150"}
                %a{:href => "#"} The Bootstrap Playground
            .clearfix
            %hr
              Design, build, test, and prototype using Bootstrap in real-time from your Web browser. Bootply combines the power of hand-coded HTML, CSS and JavaScript with the benefits of responsive design using Bootstrap. Find and showcase Bootstrap-ready snippets in the 100% free Bootply.com code repository.
        .panel.panel-default
          .panel-heading
            %a.pull-right{:href => "#"} View all
            %h4 Stackoverflow
          .panel-body
            %img.img-circle.pull-right{:src => "//placehold.it/150x150"}
              %a{:href => "#"} Keyword: Bootstrap
              .clearfix
              %hr
                %p
                  If you're looking for help with Bootstrap code, the
                  %code twitter-bootstrap
                  tag at
                  %a{:href => "http://stackoverflow.com/questions/tagged/twitter-bootstrap"} Stackoverflow
                  is a good place to find answers.
                %hr
                  %form
                    .input-group
                      .input-group-btn
                        %button.btn.btn-default +1
                        %button.btn.btn-default
                          %i.glyphicon.glyphicon-share
                      %input.form-control{:placeholder => "Add a comment..", :type => "text"}
        .panel.panel-default
          .panel-heading
            %a.pull-right{:href => "#"} View all
            %h4 Portlet Heading
          .panel-body
            %ul.list-group
              %li.list-group-item Modals
              %li.list-group-item Sliders / Carousel
              %li.list-group-item Thumbnails
        .panel.panel-default
          .panel-thumbnail
            %img.img-responsive{:src => "/assets/example/bg_4.jpg"}/
          .panel-body
            %p.lead Social Good
            %p 1,200 Followers, 83 Posts
            %p
              %img{:height => "28px", :src => "https://lh6.googleusercontent.com/-5cTTMHjjnzs/AAAAAAAAAAI/AAAAAAAAAFk/vgza68M4p2s/s28-c-k-no/photo.jpg", :width => "28px"}
                %img{:height => "28px", :src => "https://lh4.googleusercontent.com/-6aFMDiaLg5M/AAAAAAAAAAI/AAAAAAAABdM/XjnG8z60Ug0/s28-c-k-no/photo.jpg", :width => "28px"}
                  %img{:height => "28px", :src => "https://lh4.googleusercontent.com/-9Yw2jNffJlE/AAAAAAAAAAI/AAAAAAAAAAA/u3WcFXvK-g8/s28-c-k-no/photo.jpg", :width => "28px"}
