.container
  .full.col-sm-12
    / content
    .row
      / main col left
      .col-md-3.col-sm-4.text-center
        .panel.panel-default
          - if @result[:image]
            %img.img-responsive-record{:alt => "", :src => @result[:image]}
          - else
            = image_tag "thumbnail.jpg", :class => 'img-responsive'
          .caption
            %a{:href => @result[:url], target: '_blank', style: 'color:#ac4142;'}
              %strong
                #{@result[:name].to_s.truncate(75)}
              = image_tag "#{@result[:container]}.png", :class => 'logo'
            - if @result[:price][:price] && @result[:price][:original_price]
              %h3
                %strike
                  $#{@result[:price][:original_price]}
              %h1
                %strong
                  $#{@result[:price][:price]}
            - elsif @result[:price][:price]
              %h1
                %strong
                  $#{@result[:price][:price]}
            - elsif @result[:price][:original_price]
              %h1
                %strong
                  $#{@result[:price][:original_price]}
            #{@result[:availability]}
            %p
              - if @result[:container] == 'amazon-offers'
                = render 'search/amazon_button', result: @result
                %br
              - else
                %a.btn.btn-lg.btn-primary{:href => @result[:url], target: '_blank'} Buy Now
              - if user_signed_in?
                / %a.btn.btn-danger{:href => "/users/sign_up"} Follow
              - else
                / %a.btn.btn-danger{:href => "#"} Follow
          / - unless browser.bot?
          /   %br
          /   %p
          /     = pinterest_button
          /   %p
          /     = twitter_button
        = render 'layouts/responsive_ad'
        = render 'layouts/responsive_ad'
        = render 'record/videos'
        / = render 'record/references'
      .col-md-9.col-sm-8
        = render 'layouts/responsive_ad'
        - unless browser.bot?
          .panel
            .fb-like{"data-share" => "true", "data-show-faces" => "true", "data-width" => "450", align: 'right' }
        = render 'record/history'
        = render 'record/related'
        = render 'record/social'
        = render 'record/details'
        = render 'record/news'
        = render 'record/links'
        - unless browser.bot?
          .panel
            .fb-like{"data-share" => "true", "data-show-faces" => "true", "data-width" => "450", align: 'right' }
    %br
    = render 'layouts/search'
