.main-product
  .block-title-product-mob
    .back-link-mob
      %a{:href => "javascript:history.back()"}
        %i.fa.fa-angle-left{"aria-hidden" => "true"}>
        Back
    .title
      = @result[:name]
      = image_tag "stores/#{@result[:container]}.png"
  / Slider Mobile Start
  #slider-product-mob.carousel.slide{"data-ride" => "carousel"}
    .carousel-inner
      .item.active
        - if @result[:image]
          %img{:alt => "#{@result[:name]}", :src => @result[:image]}
        - else
          = image_tag "thumbnail.jpg"
  / Slider Mobile End
  .block-price-mob
    - if @result[:price][:price] && @result[:price][:original_price]
      %span.price-strike
        = number_to_currency(@result[:price][:original_price])
      %span.price-normal
        = icon('tag')
        = number_to_currency(@result[:price][:price])
    - elsif @result[:price][:price]
      %span.price-normal
        = icon('tag')
        = number_to_currency(@result[:price][:price])
    - elsif @result[:price][:original_price]
      %span.price-normal
        = icon('tag')
        = number_to_currency(@result[:price][:original_price])
    - if @result[:container] == 'amazon-offers'
      = render 'search/amazon_button', result: @result
    - elsif @result[:container] == 'walmart-offers'
      = render 'search/walmart_button', result: @result
    - elsif @result[:container] == 'target-offers'
      %a.add-cart-product.add-cart-mob.button-small.waves-effect.waves-circle.waves-float{href: "/#{@result[:container]}/#{@result[:id]}"}
        \#BoycottTarget
    - else
      %a.add-cart-product.add-cart-mob.button-small.waves-effect.waves-circle.waves-float{:href => @result[:url], target: '_blank'}
        = icon('shopping-cart')
        = "Buy at #{@result[:container].split('-').first.capitalize}"
    - if @history && @history[:price].presence
      .block-title-product-mob
        .title
          = icon('line-chart')
          Pricing History
      = line_chart @history[:price], min: @min_price, max: @max_price
    - if @related.presence
      .block-title-product-mob
        .title
          = icon('bar-chart')
          Compare Pricing
      .panel-body
        %ul.list-unstyled
          - @related.each_with_index do |result, index|
            .thumbnail.media
              .media-body
                %p= image_tag "stores/#{result[:container]}.png"
                %a{:href => "/#{result[:container]}/#{result[:id]}", rel: "nofollow", style: 'color:#ac4142;'}
                  %strong
                    = result[:name].to_s
                %p= result[:availability].presence || 'Available'
              .media-right
                %h3
                  %strong
                    - if result[:price][:price]
                      = number_to_currency(result[:price][:price])
                    - elsif result[:price][:original_price]
                      = number_to_currency(result[:price][:original_price])

%br
= render 'layouts/responsive_text_ad'

.main-product.hidden-768
  .box-1675
    / Bread Сrumbs Start
    .main-bread
      .container-fluid
        .row
          .block-bread
            %span
              %a{:href => "javascript:history.back()"} Back
            %span
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
              %a{:href => root_url}= image_tag "stores/#{@result[:container]}.png"
            - if @result[:categories].presence
              - @result[:categories].each do |category|
                %span
                  %i.fa.fa-angle-right{"aria-hidden" => "true"}>
                  %a{:href => "/search/#{category}"}= category
            %span
              %i.fa.fa-angle-right{"aria-hidden" => "true"}>
              %a{:href => "/search/#{@result[:name]}"}= @result[:name]
    / Bread Сrumbs End
    .row
      .col-md-6.col-sm-5.col-xs-12
        .block-cart-product
          #block-img-product.block-img-product
            #full-img-product.full-img-product
              - if @result[:image]
                %img{:alt => "#{@result[:name]}", :src => @result[:image]}
              - else
                = image_tag "thumbnail.jpg"
      .col-md-6.col-sm-7.col-xs-12
        .block-decr-product
          .title
            = @result[:name]
          .undertitle
            .brand-name
              = @result[:availability].presence || 'Available'
              = image_tag "stores/#{@result[:container]}.png"
            .wrap-info-product
          .wrap-cost
            .box-price
              .wrap-price
                - if @result[:price][:price] && @result[:price][:original_price]
                  %span.price-strike
                    = number_to_currency(@result[:price][:original_price])
                  %span.price-normal
                    = icon('tag')
                    = number_to_currency(@result[:price][:price])
                - elsif @result[:price][:price]
                  %span.price-normal
                    = icon('tag')
                    = number_to_currency(@result[:price][:price])
                - elsif @result[:price][:original_price]
                  %span.price-normal
                    = icon('tag')
                    = number_to_currency(@result[:price][:original_price])
            .box-add-cart-product
              - if @result[:container] == 'amazon-offers'
                = render 'search/amazon_button', result: @result
              - elsif @result[:container] == 'walmart-offers'
                = render 'search/walmart_button', result: @result
              - elsif @result[:container] == 'target-offers'
                %a.add-cart-product.button-small.waves-effect.waves-circle.waves-float{href: "/#{@result[:container]}/#{@result[:id]}"}
                  \#BoycottTarget
              - else
                %a.add-cart-product.button-small.waves-effect.waves-circle.waves-float{:href => @result[:url], target: '_blank'}
                  = icon('shopping-cart')
                  = "Buy at #{@result[:container].split('-').first.capitalize}"
          - if @history && @history[:price].presence
            .title
              = icon('line-chart')
              Pricing History
            #context-desdr.description
              = line_chart @history[:price], min: @min_price, max: @max_price
    - if @related.presence
      .row
        .related-products
          .title
            = icon('bar-chart')
            Compare Pricing
          #owl-carousel.owl-carousel.owl-theme
            - @related.each_with_index do |result, index|
              .wrap-item
                .item
                  %a{:href => "/#{result[:container]}/#{result[:id]}"}
                    .image
                      - if result[:image]
                        %img{:style => "width: 100%;", :alt => "#{result[:name]}", :src => "#{result[:image]}"}/
                      - else
                        = image_tag "thumbnail.jpg", :style => "width: 100%;", :alt => "#{result[:name]}"
                    .name-products
                      = result[:name]
                      %p= image_tag "stores/#{result[:container]}.png"
                    .model-products
                      #{result[:availability].presence || 'Available'}
                .price-products
                  %span.now
                  - if @result[:price][:price]
                    %span.now
                      = icon('tag')
                      = number_to_currency(result[:price][:price])
                  - elsif result[:price][:original_price]
                    %span.now
                      = icon('tag')
                      = number_to_currency(result[:price][:original_price])
    #tabs_cart_product
      %ul
        %li
          %a{:href => "#tabs-1"}
            = icon('pie-chart')
            Social Popularity
        %li
          %a{:href => "#tabs-2"}
            = icon('calendar-check-o')
            Specifications
        %li
          %a{:href => "#tabs-3"}
            = icon('info')
            Description
      #tabs-1
        - if @result[:social].presence
          .row
            .col-md-6.col-sm-5.col-xs-12
              = pie_chart @result[:social].select {|k,v| k != :total_shares }
            .col-md-6.col-sm-7.col-xs-12
              = bar_chart @result[:social].select {|k,v| k != :total_shares }
        - if @social_charts.presence
          .row
            = line_chart @social_charts
        .row
          .fb-comments{"data-width" => "100%", "data-href" => "https://pricenometry.com/#{@result[:container]}/#{@result[:id]}", "data-numposts" => "5", "order_by" => "reverse_time"}
      #tabs-2
        %table
          %tbody
            - @result.each do |key, value|
              - if @canonical_details.include?(key)
                %tr
                  %td= key.upcase
                  %td= value
      #tabs-3
        - if @result[:description].presence
          - @result[:description].split('. ').shuffle.each do |sentence|
            %p{align: 'left'}
              #{sentence}.

#accordion_cart_product_mob.ui-accordion.ui-widget.ui-helper-reset{:role => "tablist"}
  %h3#ui-id-1.ui-accordion-header.ui-corner-top.ui-state-default.ui-accordion-header-active.ui-state-active.ui-accordion-icons{"aria-controls" => "ui-id-2", "aria-expanded" => "true", "aria-selected" => "true", :role => "tab", :tabindex => "0"}
    Social Popularity
    %i.fa.fa-angle-down{"aria-hidden" => "true"}
  #ui-id-2.item.text-description.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content.ui-accordion-content-active{"aria-hidden" => "false", "aria-labelledby" => "ui-id-1", :role => "tabpanel", :style => "display: block;"}
    - if @result[:social].presence
      = pie_chart @result[:social].select {|k,v| k != :total_shares }
      = bar_chart @result[:social].select {|k,v| k != :total_shares }
      - if @social_charts.presence
        = line_chart @social_charts
    .fb-comments{"data-width" => "100%", "data-href" => "https://pricenometry.com/#{@result[:container]}/#{@result[:id]}", "data-numposts" => "5", "order_by" => "reverse_time"}
  %h3#ui-id-3.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons{"aria-controls" => "ui-id-4", "aria-expanded" => "false", "aria-selected" => "false", :role => "tab", :tabindex => "-1"}
    Specifications
    %i.fa.fa-angle-down{"aria-hidden" => "true"}
  #ui-id-4.item.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content{"aria-hidden" => "true", "aria-labelledby" => "ui-id-3", :role => "tabpanel", :style => "display: none;"}
    %table
      %tbody
        - @result.each do |key, value|
          - if @canonical_details.include?(key)
            %tr
              %td= key.upcase
              %td= value
  %h3#ui-id-5.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-accordion-icons{"aria-controls" => "ui-id-6", "aria-expanded" => "false", "aria-selected" => "false", :role => "tab", :tabindex => "-1"}
    Description
    %i.fa.fa-angle-down{"aria-hidden" => "true"}
  #ui-id-6.reviews.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content{"aria-hidden" => "true", "aria-labelledby" => "ui-id-5", :role => "tabpanel", :style => "display: none;"}
    - if @result[:description].presence
      - @result[:description].split('. ').shuffle.each do |sentence|
        %p{align: 'left'}
          #{sentence}.
