!!!
%html
  %head
    = display_meta_tags
    %meta{name:"msvalidate.01", content: "E343FD8E4D0D68E0349D841AFFFE6EEF"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      - if user_signed_in?
        = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/highcharts/4.2.3/highcharts.js", "chartkick"
      - else
        = javascript_include_tag "//www.google.com/jsapi", "chartkick"
      = csrf_meta_tags
      = analytics_init if GoogleAnalytics.valid_tracker?
      = yield(:head)
      :javascript
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '1008307585917302',
            xfbml      : true,
            version    : 'v2.5'
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      / Facebook Pixel Code
      :javascript
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1068893889841141');
        fbq('track', "PageView");%noscript
        %img{:height => "1", :src => "https://www.facebook.com/tr?id=1068893889841141&ev=PageView&noscript=1", :style => "display:none", :width => "1"}/
      / End Facebook Pixel Code
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1008307585917302";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

  %body{:class => "#{controller_name} #{action_name}"}
    #header
      / Page Header Start
      .top-menu-mob
        / Top Line Mobile Start
        .header-top-mob
          %button#js-mnu_container.mnu_container
            %span.sandwich
              %span.sw-topper
              %span.sw-bottom
              %span.sw-footer
          #mnu-popup-mob.mnu-popup-mob
            .header-top-mob
              .logo-popup-mob
                %a{:href => "/"} Pricenometry
            %nav#mnu-toggle.mnu-toggle
              %form.search-form-mob{:action => "/"}
                %i.fa.fa-search{"aria-hidden" => "true"}
                %input.submit-search-mob{:type => "submit", :value => ""}/
                %input#input-search-mob.input-search-mob{:autofocus => "", :placeholder => "Search", :type => "text"}/
                #clear-searh-mob.clear-searh-mob
              %ul
                %li
                  %a{:href => "/"} Home
                %li
                  %a{:href => "http://about.pricenometry.com/what-we-do/", :target => "_blank"} What We Do?
                %li
                  %a{:href => "http://about.pricenometry.com/", :target => "_blank"} Blog
                %li
                  %a{:href => "https://facebook.com/Pricenometry", :target => "_blank"} Facebook
                %li
                  %a{:href => "https://twitter.com/Pricenometry", :target => "_blank"} Twitter
                %li
                  %a{:href => "https://instagram.com/Pricenometry", :target => "_blank"} Instagram
                %li
                  %a{:href => "https://www.linkedin.com/showcase/18125556/", :target => "_blank"} LinkedIn
                %li
                  %a{:href => "https://github.com/Pricenometry", :target => "_blank"} Github
                %li
                  %a{:href => "http://developers.pricenometry.com/", :target => "_blank"} Developer API
                %li
                  %a{:href => "http://about.pricenometry.com/get-access/", :target => "_blank"} Get Access
                %li
                  %a{:href => "/", :target => "_blank"} Terms of Service
                %li
                  %a{:href => "/", :target => "_blank"} Privacy Policy
              %ul
                %li
                  %a.level-two{:href => "page_product_2.html"}
                    Amazon
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => ""} Most Trending
                    %li
                      %a.level-two{:href => ""}
                        Most Trending
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "#"} Facebook
                        %li
                          %a{:href => "#"} Twitter
                        %li
                          %a{:href => "#"} Pinterest
                        %li
                          %a{:href => "#"} Google
                    %li
                      %a{:href => "#"} Most Expensive
                %li
                  %a.level-two{:href => "page_product_2.html"}
                    Walmart
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => ""} Most Trending
                    %li
                      %a.level-two{:href => ""}
                        Most Trending
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "#"} Facebook
                        %li
                          %a{:href => "#"} Twitter
                        %li
                          %a{:href => "#"} Pinterest
                        %li
                          %a{:href => "#"} Google
                    %li
                      %a{:href => "#"} Most Expensive
                %li
                  %a.level-two{:href => "page_product_2.html"}
                    NewEgg
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => ""} Most Trending
                    %li
                      %a.level-two{:href => ""}
                        Most Trending
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "#"} Facebook
                        %li
                          %a{:href => "#"} Twitter
                        %li
                          %a{:href => "#"} Pinterest
                        %li
                          %a{:href => "#"} Google
                    %li
                      %a{:href => "#"} Most Expensive
                %li
                  %a.level-two{:href => "page_product_2.html"}
                    Staples
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => ""} Most Trending
                    %li
                      %a.level-two{:href => ""}
                        Most Trending
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "#"} Facebook
                        %li
                          %a{:href => "#"} Twitter
                        %li
                          %a{:href => "#"} Pinterest
                        %li
                          %a{:href => "#"} Google
                    %li
                      %a{:href => "#"} Most Expensive
                %li
                  %a.level-two{:href => "page_product_2.html"}
                    Best Buy
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => ""} Most Trending
                    %li
                      %a.level-two{:href => ""}
                        Most Trending
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "#"} Facebook
                        %li
                          %a{:href => "#"} Twitter
                        %li
                          %a{:href => "#"} Pinterest
                        %li
                          %a{:href => "#"} Google
                    %li
                      %a{:href => "#"} Most Expensive
                %li
                  %a.level-two{:href => "page_product_2.html"}
                    Home Depot
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => ""} Most Trending
                    %li
                      %a.level-two{:href => ""}
                        Most Trending
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "#"} Facebook
                        %li
                          %a{:href => "#"} Twitter
                        %li
                          %a{:href => "#"} Pinterest
                        %li
                          %a{:href => "#"} Google
                    %li
                      %a{:href => "#"} Most Expensive
                %li
                  %a.level-two{:href => "page_product_2.html"}
                    Target
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => ""} Most Trending
                    %li
                      %a.level-two{:href => ""}
                        Most Trending
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "#"} Facebook
                        %li
                          %a{:href => "#"} Twitter
                        %li
                          %a{:href => "#"} Pinterest
                        %li
                          %a{:href => "#"} Google
                    %li
                      %a{:href => "#"} Most Expensive
                %li
                  %a.level-two{:href => "page_product_2.html"}
                    Costco
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => ""} Most Trending
                    %li
                      %a.level-two{:href => ""}
                        Most Trending
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "#"} Facebook
                        %li
                          %a{:href => "#"} Twitter
                        %li
                          %a{:href => "#"} Pinterest
                        %li
                          %a{:href => "#"} Google
                    %li
                      %a{:href => "#"} Most Expensive
          .logo-mob
            %a{:href => "/"} Pricenometry
          /
            <a href="page_cart-step-one.html" class="bug-mob">
            <span>2</span>
            </a>
      / Top Line Mobile End
      .header-top
        / Top Menu Desktop  Start
        .box-1675
          .col-md-12
            .row
              #top-left.top-left
                %ul
                  %li
                    %a{:href => "/"} Home
                  %li
                    %a{:href => "http://about.pricenometry.com/what-we-do/", :target => "_blank"} What We Do?
                  %li
                    %a{:href => "http://about.pricenometry.com/", :target => "_blank"} Blog
                  %li
                    %a#js-account{:href => "/", :target => "_blank"} Terms of Service
                  %li
                    %a#js-account{:href => "/", :target => "_blank"} Privacy Policy
              #top-right.top-right
                %ul
                  %li
                    %a{:href => "https://facebook.com/Pricenometry", :target => "_blank"} Facebook
                  %li
                    %a{:href => "https://twitter.com/Pricenometry", :target => "_blank"} Twitter
                  %li
                    %a{:href => "https://instagram.com/Pricenometry", :target => "_blank"} Instagram
                  %li
                    %a{:href => "https://www.linkedin.com/showcase/18125556/", :target => "_blank"} LinkedIn
                  %li
                    %a{:href => "https://github.com/Pricenometry", :target => "_blank"} Github
                  %li
                    %a{:href => "http://developers.pricenometry.com/", :target => "_blank"} Developer API
                  %li
                    %a{:href => "http://about.pricenometry.com/get-access/", :target => "_blank"} Get Access
      / Top Menu Desktop  End
      .header-center
        / Center Menu Desktop  Start
        .box-1675
          .col-md-12
            .row
              #col-size-logo.col-size-logo
                %a.logo{:href => "/"} Pricenometry
              = form_tag(search_path, :method => "get", :id => "live-search", :class => 'search-form') do
                #col-size-search.col-size-search
                  #box-search.box-search
                    .beats
                      %i.fa.fa-search{"aria-hidden" => "true"}>
                      = @query.presence || 'What product are you looking for?'
                    #main-search-popup.main-search-popup
                      #box-search-popup.box-search-popup
                        #close-popup-search.close-popup-search
                        .search-popup-main
                          %form#live-search.search-form{:action => "/", :method => "post"}
                            %fieldset
                              %input#filter.input-search.form-control{:type => "text", :name => 'query', :value => @query, :autocomplete => "off", :placeholder => "What Product Are You Looking For?"}
                              %span#clear-searh.clear-searh
                  #wrap-allcat.wrap-allcat
                    .select
                      %select#cat-select-menu.cat-select-menu.select-hidden
                        %option All Sites
                        %option Amazon
                        %option Walmart
                        %option NewEgg
                        %option Staples
                        %option Best Buy
                        %option Home Depot
                        %option Target
                        %option Costco
                    %i.fa.fa-angle-down
              #col-size-buy.col-size-buy
                .box-buy
                  .box-inven
      / Center Menu Desktop  End
      / Bottom Menu Desktop  Start
      .header-bottom
        .box-1675
          .col-md-12
            .row
              .main-menu
                %ul.ul-main-menu
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"data-hover" => "dropdown", :href => "#"} Amazon
                      %ul.dropdown-menu.offset-left.bordermenu{:role => "menu"}
                        %li.dropdown
                          %a{:href => "#"}
                            Most Trending
                            %i.fa.fa-angle-right{"aria-hidden" => "true"}
                          %ul.dropdown-menu
                            %li
                              %a{:href => "#"} Facebook
                            %li
                              %a{:href => "#"} Twitter
                            %li
                              %a{:href => "#"} Pinterest
                            %li
                              %a{:href => "#"} Google
                        %li
                          %a{:href => "#"} Most Expensive
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"data-hover" => "dropdown", :href => "#"} Walmart
                      %ul.dropdown-menu.offset-left.bordermenu{:role => "menu"}
                        %li.dropdown
                          %a{:href => "#"}
                            Most Trending
                            %i.fa.fa-angle-right{"aria-hidden" => "true"}
                          %ul.dropdown-menu
                            %li
                              %a{:href => "#"} Facebook
                            %li
                              %a{:href => "#"} Twitter
                            %li
                              %a{:href => "#"} Pinterest
                            %li
                              %a{:href => "#"} Google
                        %li
                          %a{:href => "#"} Most Expensive
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"data-hover" => "dropdown", :href => "#"} NewEgg
                      %ul.dropdown-menu.offset-left.bordermenu{:role => "menu"}
                        %li.dropdown
                          %a{:href => "#"}
                            Most Trending
                            %i.fa.fa-angle-right{"aria-hidden" => "true"}
                          %ul.dropdown-menu
                            %li
                              %a{:href => "#"} Facebook
                            %li
                              %a{:href => "#"} Twitter
                            %li
                              %a{:href => "#"} Pinterest
                            %li
                              %a{:href => "#"} Google
                        %li
                          %a{:href => "#"} Most Expensive
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"data-hover" => "dropdown", :href => "#"} Staples
                      %ul.dropdown-menu.offset-left.bordermenu{:role => "menu"}
                        %li.dropdown
                          %a{:href => "#"}
                            Most Trending
                            %i.fa.fa-angle-right{"aria-hidden" => "true"}
                          %ul.dropdown-menu
                            %li
                              %a{:href => "#"} Facebook
                            %li
                              %a{:href => "#"} Twitter
                            %li
                              %a{:href => "#"} Pinterest
                            %li
                              %a{:href => "#"} Google
                        %li
                          %a{:href => "#"} Most Expensive
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"data-hover" => "dropdown", :href => "#"} Best Buy
                      %ul.dropdown-menu.offset-left.bordermenu{:role => "menu"}
                        %li.dropdown
                          %a{:href => "#"}
                            Most Trending
                            %i.fa.fa-angle-right{"aria-hidden" => "true"}
                          %ul.dropdown-menu
                            %li
                              %a{:href => "#"} Facebook
                            %li
                              %a{:href => "#"} Twitter
                            %li
                              %a{:href => "#"} Pinterest
                            %li
                              %a{:href => "#"} Google
                        %li
                          %a{:href => "#"} Most Expensive
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"data-hover" => "dropdown", :href => "#"} Home Depot
                      %ul.dropdown-menu.offset-left.bordermenu{:role => "menu"}
                        %li.dropdown
                          %a{:href => "#"}
                            Most Trending
                            %i.fa.fa-angle-right{"aria-hidden" => "true"}
                          %ul.dropdown-menu
                            %li
                              %a{:href => "#"} Facebook
                            %li
                              %a{:href => "#"} Twitter
                            %li
                              %a{:href => "#"} Pinterest
                            %li
                              %a{:href => "#"} Google
                        %li
                          %a{:href => "#"} Most Expensive
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"data-hover" => "dropdown", :href => "#"} Target
                      %ul.dropdown-menu.offset-left.bordermenu{:role => "menu"}
                        %li.dropdown
                          %a{:href => "#"}
                            Most Trending
                            %i.fa.fa-angle-right{"aria-hidden" => "true"}
                          %ul.dropdown-menu
                            %li
                              %a{:href => "#"} Facebook
                            %li
                              %a{:href => "#"} Twitter
                            %li
                              %a{:href => "#"} Pinterest
                            %li
                              %a{:href => "#"} Google
                        %li
                          %a{:href => "#"} Most Expensive
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"data-hover" => "dropdown", :href => "#"} Costco
                      %ul.dropdown-menu.offset-left.bordermenu{:role => "menu"}
                        %li.dropdown
                          %a{:href => "#"}
                            Most Trending
                            %i.fa.fa-angle-right{"aria-hidden" => "true"}
                          %ul.dropdown-menu
                            %li
                              %a{:href => "#"} Facebook
                            %li
                              %a{:href => "#"} Twitter
                            %li
                              %a{:href => "#"} Pinterest
                            %li
                              %a{:href => "#"} Google
                        %li
                          %a{:href => "#"} Most Expensive

    / %header
    /   = render 'layouts/navigation'
    .container
      .row
        = render 'layouts/messages'
        = yield

    #footer
      / Page Footer Start
      .footer
        .box-1675
          .container-fluid
            .row.box-title-footer
              .col-md-2.col-sm-2
                .title-footer Ecom
              .col-md-2.col-sm-2
                .title-footer Categories
              .col-md-2.col-sm-2
                .title-footer Information
              .col-md-2.col-sm-2
                .title-footer Stay connected
              .col-md-2.col-sm-2
                .title-footer My Account
              .col-md-2.col-sm-2
                .title-footer Help &amp; Contact
            .row
              .hr-footer
            .row
              .col-md-2.col-sm-2.text-footer
                %ul
                  %li
                    %a{:href => "product_accessories.html"} Products
                  %li
                    %a{:href => "page_cart-step-one.html"} Cart step one
                  %li
                    %a{:href => "page_cart-step-two.html"} Cart step two
                  %li
                    %a{:href => "page_compare.html"} Compare
                  %li
                    %a{:href => "page_wish-list.html"} Wishlist
              .col-md-2.col-sm-2.text-footer
                %ul
                  %li
                    %a{:href => "#"} Amazon
                  %li
                    %a{:href => "#"} Walmart
                  %li
                    %a{:href => "#"} NewEgg
                  %li
                    %a{:href => "#"} Staples
                  %li
                    %a{:href => "#"} Best Buy
                  %li
                    %a{:href => "#"} Home Depot
                  %li
                    %a{:href => "#"} Target
                  %li
                    %a{:href => "#"} Costco
              .col-md-2.col-sm-2.text-footer
                %ul
                  %li
                    %a{:href => "page_404.html"} 404
                  %li
                    %a{:href => "page_cart-step-empty.html"} Cart empty
                  %li
                    %a{:href => "page_delivery.html"} Delivery
                  %li
                    %a{:href => "page_opening-soon.html"} Opening soon
                  %li
                    %a{:href => "page_search-not-found.html"} Search not found
                  %li
                    %a{:href => "page_discont.html"} Discount
              .col-md-2.col-sm-2.text-footer
                %ul
                  %li
                    %a{:href => "https://www.instagram.com/webarksystem/", :target => "_blank"} Instagram
                  %li
                    %a{:href => "https://www.facebook.com/WebArk-346789308995961", :target => "_blank"} Facebook
                  %li
                    %a{:href => "https://twitter.com/WebarkSystems", :target => "_blank"} Twitter
                  %li
                    %a{:href => "https://plus.google.com/u/0/104841685075716062830", :target => "_blank"} Google+
              .col-md-2.col-sm-2.text-footer
                %ul
                  %li
                    %a{:href => "page_account.html?active_tab=0"} Personal Infromation
                  %li
                    %a{:href => "page_account.html?active_tab=1"} Address
                  %li
                    %a{:href => "page_account.html?active_tab=2"} Orders
                  %li
                    %a{:href => "page_account.html?active_tab=3"} Wishlist
              .col-md-2.col-sm-2.text-footer
                %ul
                  %li
                    %a{:href => "page_faq.html"} FAQ
                  %li
                    %a{:href => "page_privacy_policy.html"} Privacy policy
                  %li
                    %a{:href => "page_contacts.html"} Contact us
                  %li
                    %a{:href => "page_about-us.html"} About us
      .footer-mob
        .container
          #js-footer-item.row{:style => "position: relative; height: 0px;"}
            .footer-wrap-mob{:style => "position: absolute;"}
              .title-footer-wrap-mob Ecom
              %ul
                %li
                  %a{:href => "product_accessories.html"} Products
                %li
                  %a{:href => "page_cart-step-one.html"} Cart step one
                %li
                  %a{:href => "page_cart-step-two.html"} Cart step two
                %li
                  %a{:href => "page_compare.html"} Compare
                %li
                  %a{:href => "page_wish-list.html"} Wishlist
            .footer-wrap-mob{:style => "position: absolute;"}
              .title-footer-wrap-mob Categories
              %ul
                %li
                  %a{:href => "#"} Amazon
                %li
                  %a{:href => "#"} Walmart
                %li
                  %a{:href => "#"} NewEgg
                %li
                  %a{:href => "#"} Staples
                %li
                  %a{:href => "#"} Best Buy
                %li
                  %a{:href => "#"} Home Depot
                %li
                  %a{:href => "#"} Target
                %li
                  %a{:href => "#"} Costco
            .footer-wrap-mob{:style => "position: absolute;"}
              .title-footer-wrap-mob Information
              %ul
                %li
                  %a{:href => "page_404.html"} 404
                %li
                  %a{:href => "page_cart-step-empty.html"} Cart empty
                %li
                  %a{:href => "page_delivery.html"} Delivery
                %li
                  %a{:href => "page_opening-soon.html"} Opening soon
                %li
                  %a{:href => "page_search-not-found.html"} Search not found
                %li
                  %a{:href => "page_discont.html"} Discount
            .footer-wrap-mob{:style => "position: absolute;"}
              .title-footer-wrap-mob Stay connected
              %ul
                %li
                  %a{:href => "https://www.instagram.com/webarksystem/", :target => "_blank"} Instagram
                %li
                  %a{:href => "https://www.facebook.com/WebArk-346789308995961", :target => "_blank"} Facebook
                %li
                  %a{:href => "https://twitter.com/WebarkSystems", :target => "_blank"} Twitter
                %li
                  %a{:href => "https://plus.google.com/u/0/104841685075716062830", :target => "_blank"} Google+
            .footer-wrap-mob{:style => "position: absolute;"}
              .title-footer-wrap-mob My Account
              %ul
                %li
                  %a{:href => "page_account.html?active_tab=0"} Personal Infromation
                %li
                  %a{:href => "page_account.html?active_tab=1"} Address
                %li
                  %a{:href => "page_account.html?active_tab=2"} Orders
                %li
                  %a{:href => "page_account.html?active_tab=3"} Wishlist
            .footer-wrap-mob{:style => "position: absolute;"}
              .title-footer-wrap-mob Help &amp; Contact
              %ul
                %li
                  %a{:href => "page_faq.html"} FAQ
                %li
                  %a{:href => "page_privacy_policy.html"} Privacy policy
                %li
                  %a{:href => "page_contacts.html"} Contact us
                %li
                  %a{:href => "page_about-us.html"} About us
      .full-version
        %a{:href => "#"} Full Version
      .copyright
        .box-1675
          .container-fluid
            .row
              .text-copyright
                Copyright © 2017 Pricenometry. All Rights Reserved
      / Footer End

