!!!
%html
  %head
    = display_meta_tags
    %meta{name:"msvalidate.01", content: "E343FD8E4D0D68E0349D841AFFFE6EEF"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', async: Rails.env.production?
    = csrf_meta_tags
    = analytics_init if GoogleAnalytics.valid_tracker?
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #header
      / Page Header Start
      .top-menu-mob
        / Top Line Mobile Start
        .header-top-mob
          %button#js-mnu_container.mnu_container
            %span.sandwich
              %span.sw-topper
              %span.sw-bottom
              %span.sw-footer
          #mnu-popup-mob.mnu-popup-mob
            .header-top-mob
              .logo-popup-mob
                %a{:href => root_url} Pricenometry
            %nav#mnu-toggle.mnu-toggle
              = form_tag(search_path, :method => "get", :class => 'search-form-mob') do

                %i.fa.fa-search{"aria-hidden" => "true"}
                %input.submit-search-mob{:type => "submit", :value => ""}/
                %input#input-search-mob.input-search-mob{:type => "text", :name => 'query', :value => (@query.presence || ''), :autocomplete => "off", :placeholder => "What Product Are You Looking For?"}
                #clear-searh-mob.clear-searh-mob
              %ul
                %li
                  %a{:href => root_url} Home
                %li
                  %a.level-two{:href => "#"}
                    Trending
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul{:style => "display: none;"}
                    %li
                      %a.level-two{:href => "#"}
                        All Sites
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "/trending/price_history"} Most Volatile
                        %li
                          %a{:href => "/trending/price"} Most Expensive
                        %li
                          %a{:href => "/trending/date"} Most Recent
                    %li
                      %a.level-two{:href => "#"}
                        Amazon
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "/trending/amazon-offers/price_history"} Most Volatile
                        %li
                          %a{:href => "/trending/amazon-offers/price"} Most Expensive
                        %li
                          %a{:href => "/trending/amazon-offers/date"} Most Recent
                    %li
                      %a.level-two{:href => "#"}
                        Walmart
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "/trending/walmart-offers/price_history"} Most Volatile
                        %li
                          %a{:href => "/trending/walmart-offers/price"} Most Expensive
                        %li
                          %a{:href => "/trending/walmart-offers/date"} Most Recent
                    %li
                      %a.level-two{:href => "#"}
                        NewEgg
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "/trending/newegg-offers/price_history"} Most Volatile
                        %li
                          %a{:href => "/trending/newegg-offers/price"} Most Expensive
                        %li
                          %a{:href => "/trending/newegg-offers/date"} Most Recent
                    %li
                      %a.level-two{:href => "#"}
                        Staples
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "/trending/staples-offers/price_history"} Most Volatile
                        %li
                          %a{:href => "/trending/staples-offers/price"} Most Expensive
                        %li
                          %a{:href => "/trending/staples-offers/date"} Most Recent
                    %li
                      %a.level-two{:href => "#"}
                        Best Buy
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "/trending/bestbuy-offers/price_history"} Most Volatile
                        %li
                          %a{:href => "/trending/bestbuy-offers/price"} Most Expensive
                        %li
                          %a{:href => "/trending/bestbuy-offers/date"} Most Recent
                    %li
                      %a.level-two{:href => "#"}
                        Home Depot
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "/trending/homedepot-offers/price_history"} Most Volatile
                        %li
                          %a{:href => "/trending/homedepot-offers/price"} Most Expensive
                        %li
                          %a{:href => "/trending/homedepot-offers/date"} Most Recent
                    %li
                      %a.level-two{:href => "#"}
                        Target
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "/trending/target-offers/price_history"} Most Volatile
                        %li
                          %a{:href => "/trending/target-offers/price"} Most Expensive
                        %li
                          %a{:href => "/trending/target-offers/date"} Most Recent
                    %li
                      %a.level-two{:href => "#"}
                        Costco
                        %i.fa.fa-angle-down{"aria-hidden" => "true"}
                      %ul
                        %li
                          %a{:href => "/trending/costco-offers/price_history"} Most Volatile
                        %li
                          %a{:href => "/trending/costco-offers/price"} Most Expensive
                        %li
                          %a{:href => "/trending/costco-offers/date"} Most Recent
                %li
                  %a.level-two{:href => "#"}
                    Social
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul{:style => "display: none;"}
                    %li
                      %a{:href => "https://facebook.com/Pricenometry", :target => "_blank"} Facebook
                    %li
                      %a{:href => "https://twitter.com/Pricenometry", :target => "_blank"} Twitter
                    %li
                      %a{:href => "https://instagram.com/Pricenometry", :target => "_blank"} Instagram
                    %li
                      %a{:href => "https://www.linkedin.com/showcase/18125556/", :target => "_blank"} LinkedIn
                    %li
                      %a{:href => "https://github.com/Pricenometry", :target => "_blank"} Github
                %li
                  %a.level-two{:href => "#"}
                    About Pricenometry
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul{:style => "display: none;"}
                    %li
                      %a{:href => "http://about.pricenometry.com/what-we-do/", :target => "_blank"} What We Do?
                    %li
                      %a{:href => "http://about.pricenometry.com/", :target => "_blank"} Blog
                    %li
                      %a{:href => "http://developers.pricenometry.com/", :target => "_blank"} Developer API
                    %li
                      %a{:href => "http://about.pricenometry.com/get-access/", :target => "_blank"} Get Access
                    %li
                      %a{:href => root_url, :target => "_blank"} Terms of Service
                    %li
                      %a{:href => root_url, :target => "_blank"} Privacy Policy
          .logo-mob
            %a{:href => root_url} Pricenometry
      / Top Line Mobile End
      .header-top
        / Top Menu Desktop  Start
        .box-1675
          .col-md-12
            .row
              #top-left.top-left
                %ul
                  %li
                    %a{:href => root_url} Home
                  %li
                    %a{:href => "http://about.pricenometry.com/what-we-do/", :target => "_blank"} What We Do?
                  %li
                    %a{:href => "http://about.pricenometry.com/", :target => "_blank"} Blog
                  %li
                    %a{:href => "http://developers.pricenometry.com/", :target => "_blank"} Developer API
                  %li
                    %a{:href => "http://about.pricenometry.com/get-access/", :target => "_blank"} Get Access
              #top-right.top-right
                %ul
                  %li
                    %a{:href => "https://facebook.com/Pricenometry", :target => "_blank"}
                      %i.fa.fa-facebook{"aria-hidden" => "true"}
                  %li
                    %a{:href => "https://twitter.com/Pricenometry", :target => "_blank"}
                      %i.fa.fa-twitter{"aria-hidden" => "true"}
                  %li
                    %a{:href => "https://instagram.com/Pricenometry", :target => "_blank"}
                      %i.fa.fa-instagram{"aria-hidden" => "true"}
                  %li
                    %a{:href => "https://www.linkedin.com/showcase/18125556/", :target => "_blank"}
                      %i.fa.fa-linkedin{"aria-hidden" => "true"}
                  %li
                    %a{:href => "https://github.com/Pricenometry", :target => "_blank"}
                      %i.fa.fa-github{"aria-hidden" => "true"}
      / Top Menu Desktop  End
      .header-center
        / Center Menu Desktop  Start
        .box-1675
          .col-md-12
            .row
              #col-size-logo.col-size-logo
                %a.logo{:href => root_url} Pricenometry
              = render 'layouts/search'
              #col-size-buy.col-size-buy
                .box-buy
                  .box-inven
      / Center Menu Desktop  End
      / Bottom Menu Desktop  Start
      .header-bottom
        .box-1675
          .col-md-12
            .row
              .main-menu
                %ul.ul-main-menu
                  %li
                    %a{href: '#'}
                      Share on:
                  %li
                    %a{:href => "https://www.facebook.com/dialog/share?app_id=1008307585917302&display=page&href=#{request.original_url}&redirect_uri=#{request.original_url}", :target => "_blank"}
                      Facebook
                  %li
                    %a{:href => "https://twitter.com/intent/tweet?text=#{@title}&url=#{request.original_url}&via=Pricenometry&related=bastosmichael&hashtags=#pricing", :target => "_blank"}
                      Twitter
                  %li
                    %a{:href => "https://pinterest.com/pin/create/bookmarklet/?media=#{@image}url=#{request.original_url}&is_video=false&description=#{@title}", :target => "_blank"}
                      Pinterest
                  %li
                    %a{:href => "https://plus.google.com/share?url=#{request.original_url}", :target => "_blank"}
                      Google+
                  %li
                    %a{:href => "https://www.linkedin.com/shareArticle?url=#{request.original_url}&title=#{@title}", :target => "_blank"}
                      LinkedIn
                  %li
                    %a{:href => "http://digg.com/submit?url=#{request.original_url}&title=#{@title}", :target => "_blank"}
                      Digg
                  %li
                    %a{:href => "https://www.reddit.com/submit?url=#{request.original_url}&title=#{@title}", :target => "_blank"}
                      Reddit
                  %li
                    %a{:href => "http://www.stumbleupon.com/submit?url=#{request.original_url}&title=#{@title}", :target => "_blank"}
                      StumbleUpon

    = render 'layouts/messages'
    = yield

    #footer
      / Page Footer Start
      = render 'layouts/responsive_text_ad'
      .copyright
        .box-1675
          .container-fluid
            .row
              .text-copyright
                Copyright © 2017 Pricenometry. All Rights Reserved
                |
                %a#js-account{:href => root_url, :target => "_blank"} Terms of Service
                |
                %a#js-account{:href => root_url, :target => "_blank"} Privacy Policy
      - if @trackers.presence
        - @trackers.uniq.each do |tracker|
          = image_tag tracker
      / Footer End
