!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : Rails.configuration.config[:site][:name]
      %meta{:content => content_for?(:description) ? yield(:description) : Rails.configuration.config[:site][:description], :name => "description"}
        = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
        = javascript_include_tag 'application', 'data-turbolinks-track' => true
        - if user_signed_in?
          = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/highcharts/4.2.3/highcharts.js", "chartkick"
        - else
          = javascript_include_tag "//www.google.com/jsapi", "chartkick"
        = csrf_meta_tags
        = analytics_init if GoogleAnalytics.valid_tracker?
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %header
      = render 'layouts/navigation'
    .container
      .row
        = render 'layouts/messages'
        = yield

= render 'layouts/footer'
