!!!
%html
  %head
    = display_meta_tags
    %meta{name:"msvalidate.01", content: "E343FD8E4D0D68E0349D841AFFFE6EEF"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    - if user_signed_in?
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/highcharts/4.2.3/highcharts.js", "chartkick"
    - else
      = javascript_include_tag "//www.google.com/jsapi", "chartkick"
    = csrf_meta_tags
    = analytics_init if GoogleAnalytics.valid_tracker?
    %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    :javascript
            window.fbAsyncInit = function() {
              FB.init({
                appId      : '1008307585917302',
                xfbml      : true,
                version    : 'v2.5'
              });
            };

            (function(d, s, id){
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) {return;}
               js = d.createElement(s); js.id = id;
               js.src = "//connect.facebook.net/en_US/sdk.js";
               fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
    :javascript
            (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1008307585917302";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #header
      / Page Header Start
      .top-menu-mob
        / Top Line Mobile Start
        .header-top-mob
          %button#js-mnu_container.mnu_container
            %span.sandwich
              %span.sw-topper
              %span.sw-bottom
              %span.sw-footer
          #mnu-popup-mob.mnu-popup-mob
            .header-top-mob
              .logo-popup-mob
                %a{:href => root_url} Pricenometry
            %nav#mnu-toggle.mnu-toggle
              = form_tag(search_path, :method => "get", :class => 'search-form-mob') do

                %i.fa.fa-search{"aria-hidden" => "true"}
                %input.submit-search-mob{:type => "submit", :value => ""}/
                %input#input-search-mob.input-search-mob{:type => "text", :name => 'query', :value => (@query.presence || ' '), :autocomplete => "off", :placeholder => "What Product Are You Looking For?"}
                #clear-searh-mob.clear-searh-mob
              %ul
                %li
                  %a.level-two{:href => "#"}
                    Amazon
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul{:style => "display: none;"}
                    %li
                      %a{:href => "/trending/amazon-offers/facebook_shares"} Trending Facebook
                    %li
                      %a{:href => "/trending/amazon-offers/pinterest_shares"} Trending Pinterest
                    %li
                      %a{:href => "/trending/amazon-offers/reddit_shares"} Trending Reddit
                    %li
                      %a{:href => "/trending/amazon-offers/linkedin_shares"} Trending LinkedIn
                    %li
                      %a{:href => "/trending/amazon-offers/google_plus_shares"} Trending Google Plus
                    %li
                      %a{:href => "/trending/amazon-offers/stumbleupon_shares"} Trending StumbleUpon
                    %li
                      %a{:href => "/trending/amazon-offers/twitter_shares"} Trending Twitter
                    %li
                      %a{:href => "/trending/amazon-offers/buffer_shares"} Trending Buffer
                    %li
                      %a{:href => "/trending/amazon-offers/weibo_shares"} Trending Weibo
                    %li
                      %a{:href => "/trending/amazon-offers/hatebu_shares"} Trending Hatebu
                    %li
                      %a{:href => "/trending/amazon-offers/vkontakte_shares"} Trending Vkontakte
                    %li
                      %a{:href => "/trending/amazon-offers/mailru_shares"} Trending Mail.RU
                    %li
                      %a{:href => "/trending/amazon-offers/facebook_shares"} Trending Odnoklassniki
                    %li
                      %a{:href => "/trending/amazon-offers/price"} Trending Most Expensive
                    %li
                      %a{:href => "/trending/amazon-offers/date"} Trending Latest
                %li
                  %a.level-two{:href => "#"}
                    Walmart
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => "/trending/walmart-offers/facebook_shares"} Trending Facebook
                    %li
                      %a{:href => "/trending/walmart-offers/pinterest_shares"} Trending Pinterest
                    %li
                      %a{:href => "/trending/walmart-offers/reddit_shares"} Trending Reddit
                    %li
                      %a{:href => "/trending/walmart-offers/linkedin_shares"} Trending LinkedIn
                    %li
                      %a{:href => "/trending/walmart-offers/google_plus_shares"} Trending Google Plus
                    %li
                      %a{:href => "/trending/walmart-offers/stumbleupon_shares"} Trending StumbleUpon
                    %li
                      %a{:href => "/trending/walmart-offers/twitter_shares"} Trending Twitter
                    %li
                      %a{:href => "/trending/walmart-offers/buffer_shares"} Trending Buffer
                    %li
                      %a{:href => "/trending/walmart-offers/weibo_shares"} Trending Weibo
                    %li
                      %a{:href => "/trending/walmart-offers/hatebu_shares"} Trending Hatebu
                    %li
                      %a{:href => "/trending/walmart-offers/vkontakte_shares"} Trending Vkontakte
                    %li
                      %a{:href => "/trending/walmart-offers/mailru_shares"} Trending Mail.RU
                    %li
                      %a{:href => "/trending/walmart-offers/facebook_shares"} Trending Odnoklassniki
                    %li
                      %a{:href => "/trending/walmart-offers/price"} Trending Most Expensive
                    %li
                      %a{:href => "/trending/walmart-offers/date"} Trending Latest
                %li
                  %a.level-two{:href => "#"}
                    NewEgg
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => "/trending/newegg-offers/facebook_shares"} Trending Facebook
                    %li
                      %a{:href => "/trending/newegg-offers/pinterest_shares"} Trending Pinterest
                    %li
                      %a{:href => "/trending/newegg-offers/reddit_shares"} Trending Reddit
                    %li
                      %a{:href => "/trending/newegg-offers/linkedin_shares"} Trending LinkedIn
                    %li
                      %a{:href => "/trending/newegg-offers/google_plus_shares"} Trending Google Plus
                    %li
                      %a{:href => "/trending/newegg-offers/stumbleupon_shares"} Trending StumbleUpon
                    %li
                      %a{:href => "/trending/newegg-offers/twitter_shares"} Trending Twitter
                    %li
                      %a{:href => "/trending/newegg-offers/buffer_shares"} Trending Buffer
                    %li
                      %a{:href => "/trending/newegg-offers/weibo_shares"} Trending Weibo
                    %li
                      %a{:href => "/trending/newegg-offers/hatebu_shares"} Trending Hatebu
                    %li
                      %a{:href => "/trending/newegg-offers/vkontakte_shares"} Trending Vkontakte
                    %li
                      %a{:href => "/trending/newegg-offers/mailru_shares"} Trending Mail.RU
                    %li
                      %a{:href => "/trending/newegg-offers/facebook_shares"} Trending Odnoklassniki
                    %li
                      %a{:href => "/trending/newegg-offers/price"} Trending Most Expensive
                    %li
                      %a{:href => "/trending/newegg-offers/date"} Trending Latest
                %li
                  %a.level-two{:href => "#"}
                    Staples
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => "/trending/staples-offers/facebook_shares"} Trending Facebook
                    %li
                      %a{:href => "/trending/staples-offers/pinterest_shares"} Trending Pinterest
                    %li
                      %a{:href => "/trending/staples-offers/reddit_shares"} Trending Reddit
                    %li
                      %a{:href => "/trending/staples-offers/linkedin_shares"} Trending LinkedIn
                    %li
                      %a{:href => "/trending/staples-offers/google_plus_shares"} Trending Google Plus
                    %li
                      %a{:href => "/trending/staples-offers/stumbleupon_shares"} Trending StumbleUpon
                    %li
                      %a{:href => "/trending/staples-offers/twitter_shares"} Trending Twitter
                    %li
                      %a{:href => "/trending/staples-offers/buffer_shares"} Trending Buffer
                    %li
                      %a{:href => "/trending/staples-offers/weibo_shares"} Trending Weibo
                    %li
                      %a{:href => "/trending/staples-offers/hatebu_shares"} Trending Hatebu
                    %li
                      %a{:href => "/trending/staples-offers/vkontakte_shares"} Trending Vkontakte
                    %li
                      %a{:href => "/trending/staples-offers/mailru_shares"} Trending Mail.RU
                    %li
                      %a{:href => "/trending/staples-offers/facebook_shares"} Trending Odnoklassniki
                    %li
                      %a{:href => "/trending/staples-offers/price"} Trending Most Expensive
                    %li
                      %a{:href => "/trending/staples-offers/date"} Trending Latest
                %li
                  %a.level-two{:href => "#"}
                    Best Buy
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => "/trending/bestbuy-offers/facebook_shares"} Trending Facebook
                    %li
                      %a{:href => "/trending/bestbuy-offers/pinterest_shares"} Trending Pinterest
                    %li
                      %a{:href => "/trending/bestbuy-offers/reddit_shares"} Trending Reddit
                    %li
                      %a{:href => "/trending/bestbuy-offers/linkedin_shares"} Trending LinkedIn
                    %li
                      %a{:href => "/trending/bestbuy-offers/google_plus_shares"} Trending Google Plus
                    %li
                      %a{:href => "/trending/bestbuy-offers/stumbleupon_shares"} Trending StumbleUpon
                    %li
                      %a{:href => "/trending/bestbuy-offers/twitter_shares"} Trending Twitter
                    %li
                      %a{:href => "/trending/bestbuy-offers/buffer_shares"} Trending Buffer
                    %li
                      %a{:href => "/trending/bestbuy-offers/weibo_shares"} Trending Weibo
                    %li
                      %a{:href => "/trending/bestbuy-offers/hatebu_shares"} Trending Hatebu
                    %li
                      %a{:href => "/trending/bestbuy-offers/vkontakte_shares"} Trending Vkontakte
                    %li
                      %a{:href => "/trending/bestbuy-offers/mailru_shares"} Trending Mail.RU
                    %li
                      %a{:href => "/trending/bestbuy-offers/facebook_shares"} Trending Odnoklassniki
                    %li
                      %a{:href => "/trending/bestbuy-offers/price"} Trending Most Expensive
                    %li
                      %a{:href => "/trending/bestbuy-offers/date"} Trending Latest
                %li
                  %a.level-two{:href => "#"}
                    Home Depot
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => "/trending/homedepot-offers/facebook_shares"} Trending Facebook
                    %li
                      %a{:href => "/trending/homedepot-offers/pinterest_shares"} Trending Pinterest
                    %li
                      %a{:href => "/trending/homedepot-offers/reddit_shares"} Trending Reddit
                    %li
                      %a{:href => "/trending/homedepot-offers/linkedin_shares"} Trending LinkedIn
                    %li
                      %a{:href => "/trending/homedepot-offers/google_plus_shares"} Trending Google Plus
                    %li
                      %a{:href => "/trending/homedepot-offers/stumbleupon_shares"} Trending StumbleUpon
                    %li
                      %a{:href => "/trending/homedepot-offers/twitter_shares"} Trending Twitter
                    %li
                      %a{:href => "/trending/homedepot-offers/buffer_shares"} Trending Buffer
                    %li
                      %a{:href => "/trending/homedepot-offers/weibo_shares"} Trending Weibo
                    %li
                      %a{:href => "/trending/homedepot-offers/hatebu_shares"} Trending Hatebu
                    %li
                      %a{:href => "/trending/homedepot-offers/vkontakte_shares"} Trending Vkontakte
                    %li
                      %a{:href => "/trending/homedepot-offers/mailru_shares"} Trending Mail.RU
                    %li
                      %a{:href => "/trending/homedepot-offers/facebook_shares"} Trending Odnoklassniki
                    %li
                      %a{:href => "/trending/homedepot-offers/price"} Trending Most Expensive
                    %li
                      %a{:href => "/trending/homedepot-offers/date"} Trending Latest
                %li
                  %a.level-two{:href => "#"}
                    Target
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => "/trending/target-offers/facebook_shares"} Trending Facebook
                    %li
                      %a{:href => "/trending/target-offers/pinterest_shares"} Trending Pinterest
                    %li
                      %a{:href => "/trending/target-offers/reddit_shares"} Trending Reddit
                    %li
                      %a{:href => "/trending/target-offers/linkedin_shares"} Trending LinkedIn
                    %li
                      %a{:href => "/trending/target-offers/google_plus_shares"} Trending Google Plus
                    %li
                      %a{:href => "/trending/target-offers/stumbleupon_shares"} Trending StumbleUpon
                    %li
                      %a{:href => "/trending/target-offers/twitter_shares"} Trending Twitter
                    %li
                      %a{:href => "/trending/target-offers/buffer_shares"} Trending Buffer
                    %li
                      %a{:href => "/trending/target-offers/weibo_shares"} Trending Weibo
                    %li
                      %a{:href => "/trending/target-offers/hatebu_shares"} Trending Hatebu
                    %li
                      %a{:href => "/trending/target-offers/vkontakte_shares"} Trending Vkontakte
                    %li
                      %a{:href => "/trending/target-offers/mailru_shares"} Trending Mail.RU
                    %li
                      %a{:href => "/trending/target-offers/facebook_shares"} Trending Odnoklassniki
                    %li
                      %a{:href => "/trending/target-offers/price"} Trending Most Expensive
                    %li
                      %a{:href => "/trending/target-offers/date"} Trending Latest
                %li
                  %a.level-two{:href => "#"}
                    Costco
                    %i.fa.fa-angle-down{"aria-hidden" => "true"}
                  %ul
                    %li
                      %a{:href => "/trending/costco-offers/facebook_shares"} Trending Facebook
                    %li
                      %a{:href => "/trending/costco-offers/pinterest_shares"} Trending Pinterest
                    %li
                      %a{:href => "/trending/costco-offers/reddit_shares"} Trending Reddit
                    %li
                      %a{:href => "/trending/costco-offers/linkedin_shares"} Trending LinkedIn
                    %li
                      %a{:href => "/trending/costco-offers/google_plus_shares"} Trending Google Plus
                    %li
                      %a{:href => "/trending/costco-offers/stumbleupon_shares"} Trending StumbleUpon
                    %li
                      %a{:href => "/trending/costco-offers/twitter_shares"} Trending Twitter
                    %li
                      %a{:href => "/trending/costco-offers/buffer_shares"} Trending Buffer
                    %li
                      %a{:href => "/trending/costco-offers/weibo_shares"} Trending Weibo
                    %li
                      %a{:href => "/trending/costco-offers/hatebu_shares"} Trending Hatebu
                    %li
                      %a{:href => "/trending/costco-offers/vkontakte_shares"} Trending Vkontakte
                    %li
                      %a{:href => "/trending/costco-offers/mailru_shares"} Trending Mail.RU
                    %li
                      %a{:href => "/trending/costco-offers/facebook_shares"} Trending Odnoklassniki
                    %li
                      %a{:href => "/trending/costco-offers/price"} Trending Most Expensive
                    %li
                      %a{:href => "/trending/costco-offers/date"} Trending Latest
              %ul
                %li
                  %a{:href => root_url} Home
                %li
                  %a{:href => "http://about.pricenometry.com/what-we-do/", :target => "_blank"} What We Do?
                %li
                  %a{:href => "http://about.pricenometry.com/", :target => "_blank"} Blog
                %li
                  %a{:href => "http://developers.pricenometry.com/", :target => "_blank"} Developer API
                %li
                  %a{:href => "http://about.pricenometry.com/get-access/", :target => "_blank"} Get Access
                %li
                  %a{:href => root_url, :target => "_blank"} Terms of Service
                %li
                  %a{:href => root_url, :target => "_blank"} Privacy Policy
              %ul
                %li
                  %a{:href => "https://facebook.com/Pricenometry", :target => "_blank"} Facebook
                %li
                  %a{:href => "https://twitter.com/Pricenometry", :target => "_blank"} Twitter
                %li
                  %a{:href => "https://instagram.com/Pricenometry", :target => "_blank"} Instagram
                %li
                  %a{:href => "https://www.linkedin.com/showcase/18125556/", :target => "_blank"} LinkedIn
                %li
                  %a{:href => "https://github.com/Pricenometry", :target => "_blank"} Github
          .logo-mob
            %a{:href => root_url} Pricenometry
      / Top Line Mobile End
      .header-top
        / Top Menu Desktop  Start
        .box-1675
          .col-md-12
            .row
              #top-left.top-left
                %ul
                  %li
                    %a{:href => root_url} Home
                  %li
                    %a{:href => "http://about.pricenometry.com/what-we-do/", :target => "_blank"} What We Do?
                  %li
                    %a{:href => "http://about.pricenometry.com/", :target => "_blank"} Blog
                  %li
                    %a{:href => "https://facebook.com/Pricenometry", :target => "_blank"} Facebook
                  %li
                    %a{:href => "https://twitter.com/Pricenometry", :target => "_blank"} Twitter
                  %li
                    %a{:href => "https://instagram.com/Pricenometry", :target => "_blank"} Instagram
                  %li
                    %a{:href => "https://www.linkedin.com/showcase/18125556/", :target => "_blank"} LinkedIn
                  %li
                    %a{:href => "https://github.com/Pricenometry", :target => "_blank"} Github
              #top-right.top-right
                %ul
                  %li
                    %a{:href => "http://developers.pricenometry.com/", :target => "_blank"} Developer API
                  %li
                    %a{:href => "http://about.pricenometry.com/get-access/", :target => "_blank"} Get Access
                  %li
                    %a#js-account{:href => root_url, :target => "_blank"} Terms of Service
                  %li
                    %a#js-account{:href => root_url, :target => "_blank"} Privacy Policy
      / Top Menu Desktop  End
      .header-center
        / Center Menu Desktop  Start
        .box-1675
          .col-md-12
            .row
              #col-size-logo.col-size-logo
                %a.logo{:href => root_url} Pricenometry
              = render 'layouts/search'
              #col-size-buy.col-size-buy
                .box-buy
                  .box-inven
      / Center Menu Desktop  End
      / Bottom Menu Desktop  Start
      .header-bottom
        .box-1675
          .col-md-12
            .row
              .main-menu
                %ul.ul-main-menu
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"aria-expanded" => "false", "data-hover" => "dropdown"} Amazon
                      %ul.dropdown-menu.offset-left.bordermenu.dropdownhover-bottom{:role => "menu"}
                        %li
                          %a{:href => "/trending/amazon-offers/facebook_shares"} Trending Facebook
                        %li
                          %a{:href => "/trending/amazon-offers/pinterest_shares"} Trending Pinterest
                        %li
                          %a{:href => "/trending/amazon-offers/reddit_shares"} Trending Reddit
                        %li
                          %a{:href => "/trending/amazon-offers/linkedin_shares"} Trending LinkedIn
                        %li
                          %a{:href => "/trending/amazon-offers/google_plus_shares"} Trending Google Plus
                        %li
                          %a{:href => "/trending/amazon-offers/stumbleupon_shares"} Trending StumbleUpon
                        %li
                          %a{:href => "/trending/amazon-offers/twitter_shares"} Trending Twitter
                        %li
                          %a{:href => "/trending/amazon-offers/buffer_shares"} Trending Buffer
                        %li
                          %a{:href => "/trending/amazon-offers/weibo_shares"} Trending Weibo
                        %li
                          %a{:href => "/trending/amazon-offers/hatebu_shares"} Trending Hatebu
                        %li
                          %a{:href => "/trending/amazon-offers/vkontakte_shares"} Trending Vkontakte
                        %li
                          %a{:href => "/trending/amazon-offers/mailru_shares"} Trending Mail.RU
                        %li
                          %a{:href => "/trending/amazon-offers/facebook_shares"} Trending Odnoklassniki
                        %li
                          %a{:href => "/trending/amazon-offers/price"} Trending Most Expensive
                        %li
                          %a{:href => "/trending/amazon-offers/date"} Trending Latest
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"aria-expanded" => "false", "data-hover" => "dropdown"} Walmart
                      %ul.dropdown-menu.offset-left.bordermenu.dropdownhover-bottom{:role => "menu"}
                        %li
                          %a{:href => "/trending/walmart-offers/facebook_shares"} Trending Facebook
                        %li
                          %a{:href => "/trending/walmart-offers/pinterest_shares"} Trending Pinterest
                        %li
                          %a{:href => "/trending/walmart-offers/reddit_shares"} Trending Reddit
                        %li
                          %a{:href => "/trending/walmart-offers/linkedin_shares"} Trending LinkedIn
                        %li
                          %a{:href => "/trending/walmart-offers/google_plus_shares"} Trending Google Plus
                        %li
                          %a{:href => "/trending/walmart-offers/stumbleupon_shares"} Trending StumbleUpon
                        %li
                          %a{:href => "/trending/walmart-offers/twitter_shares"} Trending Twitter
                        %li
                          %a{:href => "/trending/walmart-offers/buffer_shares"} Trending Buffer
                        %li
                          %a{:href => "/trending/walmart-offers/weibo_shares"} Trending Weibo
                        %li
                          %a{:href => "/trending/walmart-offers/hatebu_shares"} Trending Hatebu
                        %li
                          %a{:href => "/trending/walmart-offers/vkontakte_shares"} Trending Vkontakte
                        %li
                          %a{:href => "/trending/walmart-offers/mailru_shares"} Trending Mail.RU
                        %li
                          %a{:href => "/trending/walmart-offers/facebook_shares"} Trending Odnoklassniki
                        %li
                          %a{:href => "/trending/walmart-offers/price"} Trending Most Expensive
                        %li
                          %a{:href => "/trending/walmart-offers/date"} Trending Latest
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"aria-expanded" => "false", "data-hover" => "dropdown"} NewEgg
                      %ul.dropdown-menu.offset-left.bordermenu.dropdownhover-bottom{:role => "menu"}
                        %li
                          %a{:href => "/trending/newegg-offers/facebook_shares"} Trending Facebook
                        %li
                          %a{:href => "/trending/newegg-offers/pinterest_shares"} Trending Pinterest
                        %li
                          %a{:href => "/trending/newegg-offers/reddit_shares"} Trending Reddit
                        %li
                          %a{:href => "/trending/newegg-offers/linkedin_shares"} Trending LinkedIn
                        %li
                          %a{:href => "/trending/newegg-offers/google_plus_shares"} Trending Google Plus
                        %li
                          %a{:href => "/trending/newegg-offers/stumbleupon_shares"} Trending StumbleUpon
                        %li
                          %a{:href => "/trending/newegg-offers/twitter_shares"} Trending Twitter
                        %li
                          %a{:href => "/trending/newegg-offers/buffer_shares"} Trending Buffer
                        %li
                          %a{:href => "/trending/newegg-offers/weibo_shares"} Trending Weibo
                        %li
                          %a{:href => "/trending/newegg-offers/hatebu_shares"} Trending Hatebu
                        %li
                          %a{:href => "/trending/newegg-offers/vkontakte_shares"} Trending Vkontakte
                        %li
                          %a{:href => "/trending/newegg-offers/mailru_shares"} Trending Mail.RU
                        %li
                          %a{:href => "/trending/newegg-offers/facebook_shares"} Trending Odnoklassniki
                        %li
                          %a{:href => "/trending/newegg-offers/price"} Trending Most Expensive
                        %li
                          %a{:href => "/trending/newegg-offers/date"} Trending Latest
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"data-hover" => "dropdown"} Staples
                      %ul.dropdown-menu.offset-left.bordermenu{:role => "menu"}
                        %li
                          %a{:href => "/trending/staples-offers/facebook_shares"} Trending Facebook
                        %li
                          %a{:href => "/trending/staples-offers/pinterest_shares"} Trending Pinterest
                        %li
                          %a{:href => "/trending/staples-offers/reddit_shares"} Trending Reddit
                        %li
                          %a{:href => "/trending/staples-offers/linkedin_shares"} Trending LinkedIn
                        %li
                          %a{:href => "/trending/staples-offers/google_plus_shares"} Trending Google Plus
                        %li
                          %a{:href => "/trending/staples-offers/stumbleupon_shares"} Trending StumbleUpon
                        %li
                          %a{:href => "/trending/staples-offers/twitter_shares"} Trending Twitter
                        %li
                          %a{:href => "/trending/staples-offers/buffer_shares"} Trending Buffer
                        %li
                          %a{:href => "/trending/staples-offers/weibo_shares"} Trending Weibo
                        %li
                          %a{:href => "/trending/staples-offers/hatebu_shares"} Trending Hatebu
                        %li
                          %a{:href => "/trending/staples-offers/vkontakte_shares"} Trending Vkontakte
                        %li
                          %a{:href => "/trending/staples-offers/mailru_shares"} Trending Mail.RU
                        %li
                          %a{:href => "/trending/staples-offers/facebook_shares"} Trending Odnoklassniki
                        %li
                          %a{:href => "/trending/staples-offers/price"} Trending Most Expensive
                        %li
                          %a{:href => "/trending/staples-offers/date"} Trending Latest
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"data-hover" => "dropdown"} Best Buy
                      %ul.dropdown-menu.offset-left.bordermenu{:role => "menu"}
                        %li
                          %a{:href => "/trending/bestbuy-offers/facebook_shares"} Trending Facebook
                        %li
                          %a{:href => "/trending/bestbuy-offers/pinterest_shares"} Trending Pinterest
                        %li
                          %a{:href => "/trending/bestbuy-offers/reddit_shares"} Trending Reddit
                        %li
                          %a{:href => "/trending/bestbuy-offers/linkedin_shares"} Trending LinkedIn
                        %li
                          %a{:href => "/trending/bestbuy-offers/google_plus_shares"} Trending Google Plus
                        %li
                          %a{:href => "/trending/bestbuy-offers/stumbleupon_shares"} Trending StumbleUpon
                        %li
                          %a{:href => "/trending/bestbuy-offers/twitter_shares"} Trending Twitter
                        %li
                          %a{:href => "/trending/bestbuy-offers/buffer_shares"} Trending Buffer
                        %li
                          %a{:href => "/trending/bestbuy-offers/weibo_shares"} Trending Weibo
                        %li
                          %a{:href => "/trending/bestbuy-offers/hatebu_shares"} Trending Hatebu
                        %li
                          %a{:href => "/trending/bestbuy-offers/vkontakte_shares"} Trending Vkontakte
                        %li
                          %a{:href => "/trending/bestbuy-offers/mailru_shares"} Trending Mail.RU
                        %li
                          %a{:href => "/trending/bestbuy-offers/facebook_shares"} Trending Odnoklassniki
                        %li
                          %a{:href => "/trending/bestbuy-offers/price"} Trending Most Expensive
                        %li
                          %a{:href => "/trending/bestbuy-offers/date"} Trending Latest
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"aria-expanded" => "false", "data-hover" => "dropdown"} Home Depot
                      %ul.dropdown-menu.offset-left.bordermenu.dropdownhover-bottom{:role => "menu"}
                        %li
                          %a{:href => "/trending/homedepot-offers/facebook_shares"} Trending Facebook
                        %li
                          %a{:href => "/trending/homedepot-offers/pinterest_shares"} Trending Pinterest
                        %li
                          %a{:href => "/trending/homedepot-offers/reddit_shares"} Trending Reddit
                        %li
                          %a{:href => "/trending/homedepot-offers/linkedin_shares"} Trending LinkedIn
                        %li
                          %a{:href => "/trending/homedepot-offers/google_plus_shares"} Trending Google Plus
                        %li
                          %a{:href => "/trending/homedepot-offers/stumbleupon_shares"} Trending StumbleUpon
                        %li
                          %a{:href => "/trending/homedepot-offers/twitter_shares"} Trending Twitter
                        %li
                          %a{:href => "/trending/homedepot-offers/buffer_shares"} Trending Buffer
                        %li
                          %a{:href => "/trending/homedepot-offers/weibo_shares"} Trending Weibo
                        %li
                          %a{:href => "/trending/homedepot-offers/hatebu_shares"} Trending Hatebu
                        %li
                          %a{:href => "/trending/homedepot-offers/vkontakte_shares"} Trending Vkontakte
                        %li
                          %a{:href => "/trending/homedepot-offers/mailru_shares"} Trending Mail.RU
                        %li
                          %a{:href => "/trending/homedepot-offers/facebook_shares"} Trending Odnoklassniki
                        %li
                          %a{:href => "/trending/homedepot-offers/price"} Trending Most Expensive
                        %li
                          %a{:href => "/trending/homedepot-offers/date"} Trending Latest
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"data-hover" => "dropdown"} Target
                      %ul.dropdown-menu.offset-left.bordermenu{:role => "menu"}
                        %li
                          %a{:href => "/trending/target-offers/facebook_shares"} Trending Facebook
                        %li
                          %a{:href => "/trending/target-offers/pinterest_shares"} Trending Pinterest
                        %li
                          %a{:href => "/trending/target-offers/reddit_shares"} Trending Reddit
                        %li
                          %a{:href => "/trending/target-offers/linkedin_shares"} Trending LinkedIn
                        %li
                          %a{:href => "/trending/target-offers/google_plus_shares"} Trending Google Plus
                        %li
                          %a{:href => "/trending/target-offers/stumbleupon_shares"} Trending StumbleUpon
                        %li
                          %a{:href => "/trending/target-offers/twitter_shares"} Trending Twitter
                        %li
                          %a{:href => "/trending/target-offers/buffer_shares"} Trending Buffer
                        %li
                          %a{:href => "/trending/target-offers/weibo_shares"} Trending Weibo
                        %li
                          %a{:href => "/trending/target-offers/hatebu_shares"} Trending Hatebu
                        %li
                          %a{:href => "/trending/target-offers/vkontakte_shares"} Trending Vkontakte
                        %li
                          %a{:href => "/trending/target-offers/mailru_shares"} Trending Mail.RU
                        %li
                          %a{:href => "/trending/target-offers/facebook_shares"} Trending Odnoklassniki
                        %li
                          %a{:href => "/trending/target-offers/price"} Trending Most Expensive
                        %li
                          %a{:href => "/trending/target-offers/date"} Trending Latest
                  %li
                    .dropdown.dropdown-inline
                      %a.dropdown-toggle{"aria-expanded" => "false", "data-hover" => "dropdown"} Costco
                      %ul.dropdown-menu.offset-left.bordermenu.dropdownhover-bottom{:role => "menu", :style => "left: -75.375px; right: auto;"}
                        %li
                          %a{:href => "/trending/costco-offers/facebook_shares"} Trending Facebook
                        %li
                          %a{:href => "/trending/costco-offers/pinterest_shares"} Trending Pinterest
                        %li
                          %a{:href => "/trending/costco-offers/reddit_shares"} Trending Reddit
                        %li
                          %a{:href => "/trending/costco-offers/linkedin_shares"} Trending LinkedIn
                        %li
                          %a{:href => "/trending/costco-offers/google_plus_shares"} Trending Google Plus
                        %li
                          %a{:href => "/trending/costco-offers/stumbleupon_shares"} Trending StumbleUpon
                        %li
                          %a{:href => "/trending/costco-offers/twitter_shares"} Trending Twitter
                        %li
                          %a{:href => "/trending/costco-offers/buffer_shares"} Trending Buffer
                        %li
                          %a{:href => "/trending/costco-offers/weibo_shares"} Trending Weibo
                        %li
                          %a{:href => "/trending/costco-offers/hatebu_shares"} Trending Hatebu
                        %li
                          %a{:href => "/trending/costco-offers/vkontakte_shares"} Trending Vkontakte
                        %li
                          %a{:href => "/trending/costco-offers/mailru_shares"} Trending Mail.RU
                        %li
                          %a{:href => "/trending/costco-offers/facebook_shares"} Trending Odnoklassniki
                        %li
                          %a{:href => "/trending/costco-offers/price"} Trending Most Expensive
                        %li
                          %a{:href => "/trending/costco-offers/date"} Trending Latest

    = render 'layouts/messages'
    = yield

    #footer
      / Page Footer Start
      = render 'layouts/responsive_ad'
      .footer
        .box-1675
          .container-fluid
            .row
      .copyright
        .box-1675
          .container-fluid
            .row
              .text-copyright
                Copyright © 2017 Pricenometry. All Rights Reserved
      - if @trackers.presence
        - @trackers.uniq.each do |tracker|
          = image_tag tracker
      / Footer End
