!!!
%html
  %head
    = display_meta_tags
    %meta{name:"msvalidate.01", content: "E343FD8E4D0D68E0349D841AFFFE6EEF"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      / %title= content_for?(:title) ? yield(:title) : Rails.configuration.config[:site][:name]
      / %meta{:content => content_for?(:description) ? yield(:description) : Rails.configuration.config[:site][:description], :name => "description"}
      = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      - if user_signed_in?
        = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/highcharts/4.2.3/highcharts.js", "chartkick"
      - else
        = javascript_include_tag "//www.google.com/jsapi", "chartkick"
      = csrf_meta_tags
      = analytics_init if GoogleAnalytics.valid_tracker?
      = yield(:head)
      :javascript
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '1008307585917302',
            xfbml      : true,
            version    : 'v2.5'
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));

  %body{:class => "#{controller_name} #{action_name}"}
    %header
      = render 'layouts/navigation'
    .container
      .row
        = render 'layouts/messages'
        = yield

    = render 'layouts/footer'
