!!!
%html
  %head
    = display_meta_tags
    %meta{name:"msvalidate.01", content: "E343FD8E4D0D68E0349D841AFFFE6EEF"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      / MATERIALIZE CORE CSS
      %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css", :rel => "stylesheet"}
      / ADDITIONAL CSS
      %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css", :rel => "stylesheet"}
      / FONTS
      %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}
      / FONTAWESOME CSS
      %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
      / CUSTOM STYLE
      %link{:href => "assets/css/style.css", :rel => "stylesheet"}
      / RESPONSIVE CSS
      %link{:href => "assets/css/responsive.css", :rel => "stylesheet"}
      %link{:href => "assets/css/colors/red.css", :rel => "stylesheet", :title => "red"}
      = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
      = javascript_include_tag 'application', 'data-turbolinks-track' => true
      - if user_signed_in?
        = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/highcharts/4.2.3/highcharts.js", "chartkick"
      - else
        = javascript_include_tag "//www.google.com/jsapi", "chartkick"
      = csrf_meta_tags
      = analytics_init if GoogleAnalytics.valid_tracker?
      = yield(:head)
      :javascript
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '1008307585917302',
            xfbml      : true,
            version    : 'v2.5'
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      / Facebook Pixel Code
      :javascript
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1068893889841141');
        fbq('track', "PageView");%noscript
        %img{:height => "1", :src => "https://www.facebook.com/tr?id=1068893889841141&ev=PageView&noscript=1", :style => "display:none", :width => "1"}/
      / End Facebook Pixel Code
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1008307585917302";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

  %body{:class => "#{controller_name} #{action_name}"}
    %header
      = render 'layouts/navigation'
    .container
      .row
        = render 'layouts/messages'
        = yield

    = render 'layouts/footer'
